/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Stephan Raabe (2023) 
 * ----------------------------------------------------- 
*/

/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */
/* @import 'style-light.css'; 
@define-color backgroundlight #FFFFFF;
@define-color backgrounddark @color1;
@define-color workspacesbackground1 #FFFFFF;
@define-color workspacesbackground2 #CCCCCC;
@define-color bordercolor #FFFFFF;
@define-color textcolor1 @color12;
@define-color textcolor2 @color2;
@define-color textcolor3 @color3;
@define-color iconcolor #FFFFFF; */
@import '../../../../.cache/wal/colors-waybar.css';

@define-color backgroundlight @background;
@define-color backgrounddark @background;
@define-color workspacesbackground1 @color2;
@define-color workspacesbackground2 @color6;
@define-color bordercolor @color8;
@define-color textcolor1 @color14;
@define-color textcolor2 @color7;
@define-color textcolor3 @color1;
@define-color textcolor4 @color15;
@define-color textcolor5 @color6;
@define-color iconcolor @color15;


/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    /* font-family: "Fira Sans Semibold", FontAwesome, Roboto, "Fira Code Nerd Font", Arial, sans-serif; */
    font-family: "Fira Sans Semibold",Roboto, FontAwesome;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.4);
    /* backdrop-filter: blur(5px); */
    border-bottom: 0px solid #ffffff;
    /* color: #FFFFFF; */
    transition-property: background-color;
    transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border-width: 3px;
    border-color: @bordercolor;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: @textcolor1;
    background: #0a0603;
    opacity: 0.8;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @textcolor4;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @textcolor6;
    background: @workspacesbackground1;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @textcolor4;
    background: @workspacesbackground2;
    border-radius: 15px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: @textcolor2;
    border-style: solid;
    border-color: @bordercolor;
    border-width: 3px;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @backgroundlight;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background: @backgroundlight;
    margin: 10px 15px 10px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    border-style: solid;
    border-color: @bordercolor;
    border-width: 3px;
    color:@textcolor2;
    font-size:16px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
    border-radius: 0px;
    border-style: none;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background: #000000;
    margin: 6px 15px 6px 0px;
    padding:0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    /* border: 3px solid @backgroundlight; */
    border-style: solid;
    border-color: @bordercolor;
    border-width: 3px;
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
    /* border-style: solid;
    border-color: @bordercolor;
    border-width: 3px; */
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-brave, 
#custom-browser, 
#custom-keybindings, 
#custom-outlook, 
#custom-filemanager, 
#custom-teams, 
#custom-chatgpt, 
#custom-calculator, 
#custom-windowsvm, 
#custom-cliphist, 
#custom-wallpaper, 
#custom-settings, 
#custom-system,
#custom-wallpaper, 
#custom-hyprshade,
#custom-hypridle,
#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10,
#custom-waybarthemes {
    margin-right: 23px;
    font-size: 20px;
    font-weight: bold;
    color: @iconcolor;

}
 
#custom-hyprshade {
    margin-right:12px;
}

#custom-hypridle {
    margin-right:16px;
}

#custom-hypridle.active {
    color: @iconcolor;
}

#custom-hypridle.notactive {
    color: #dc2f2f;
}

#custom-waybarthemes,#custom-system {
     margin-right:15px;
}

#custom-ml4w-welcome {
    margin-right: 12px;
    background-image: url("../assets/ml4w-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    padding-right: 24px;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

 #idle_inhibitor {
    margin-right: 15px;
    font-size: 22px;
    font-weight: bold;
    opacity: 0.8;
    color: @iconcolor;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    background-color: @backgrounddark;
    border-radius: 5px;
    font-size: 20px;
    color: @textcolor1;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 10px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0px 20px 0px 0px;
    padding:0px;
    font-size:20px;
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
    background-color: @backgroundlight;
    border-style: solid;
    border-color: @bordercolor;
    border-width: 3px;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 15px;
}

#custom-updates.green {
    background-color: @backgroundlight;
}

#custom-updates.yellow {
    background-color: #ff9a3c;
    color: #FFFFFF;
}

#custom-updates.red {
    background-color: #dc2f2f;
    color: #FFFFFF;
}

/* -----------------------------------------------------
 * Custom Youtube
 * ----------------------------------------------------- */

#custom-youtube {
    background-color: @backgroundlight;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */
#disk,#language {
    padding: 2px 0px 0px 10px;
    margin: 10px 0px 10px 0px;
    font-size:16px;
    border-radius: 15px 0px 0px 15px;
    color:@textcolor2;
    background-color: @backgrounddark;
}
#cpu{
    padding: 2px 5px 0px 5px;
    margin: 10px 0px 10px 0px;
    font-size:16px;
    color:@color10;
    background-color: @backgrounddark;
}
#memory{
    padding: 2px 5px 0px 5px;
    margin: 10px 0px 10px 0px;
    font-size:16px;
    color:@textcolor3;
    background-color: @backgrounddark;
}
#temperature {
    background-color: @backgrounddark;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 0px 15px 15px 0px;
    padding: 2px 10px 0px 5px;
    margin: 10px 15px 10px 0px;
}
#temperature.critical {
    background-color: @backgrounddark;
    font-size: 16px;
    color: @color16;
    border-radius: 0px 15px 15px 0px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#language {
    margin-right:10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */
#mpd
#mpd.disconnected
#mpd.playing
#cava {
    background-color: @backgroundlight;
    font-size: 16px;
    color: @textcolor2;
    /* border-radius: 15px;
    padding: 2px 10px 0px 10px;
    */
    margin: 10px 15px 10px 0px;
}
#power-profiles-daemon {
    background-color: @backgroundlight;
    font-size: 16px;
    border-style: solid;
    border-color: @bordercolor;
    border-width: 3px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
} 
#clock {
    background-color: @backgrounddark;
    font-size: 16px;
    border-style: solid;
    border-color: @bordercolor;
    border-width: 3px;
    color: @textcolor1;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    background-color: @backgroundlight;
    border-style: solid;
    border-color: @bordercolor;
    border-width: 3px;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 0px 10px 0px;
}

#pulseaudio.muted {
    background-color: @backgrounddark;
    color: @textcolor1;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: @backgroundlight;
    border-style: solid;
    border-color: @bordercolor;
    border-width: 3px;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#network.ethernet {
    background-color: @backgroundlight;
    color: @textcolor2;
}

#network.wifi {
    background-color: @backgroundlight;
    color: @textcolor2;
}
/* -----------------------------------------------------
 * Backlightslider
 * ----------------------------------------------------- */
#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border-radius: 15px;
    box-shadow: none;
}
#backlight-slider trough {
    min-height: 18px;
    min-width: 50px;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: @bordercolor;
    background-color: black;
    padding: 2px 10px 0px 0px;
    /* margin: 10px 15px 10px 0px; */
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 15px;
    border-style: solid;
    background-color: @color10;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: @backgroundlight;
    border-style: solid;
    border-color: @bordercolor;
    border-width: 3px;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#bluetooth.off {
    background-color: transparent;
    border-style: solid;
    border-color: #dc2f2f;
    border-width: 3px;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: @backgroundlight;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    border-style: solid;
    border-color: @bordercolor;
    border-width: 3px;
    padding: 2px 15px 0px 10px;
    margin: 10px 15px 10px 0px;
}

#battery.charging, #battery.plugged {
    color: @textcolor2;
    background-color: @backgroundlight;
}

@keyframes blink {
    to {
        background-color: @backgroundlight;
        color: @textcolor2;
    }
}
#custom-fan1, #custom-fan2 {
    background-color: @backgroundlight;
    font-size: 16px;
    color: @textcolor2;
    border-radius: 15px;
    border-style: solid;
    border-color: @bordercolor;
    border-width: 3px;
    padding: 2px 15px 0px 10px;
    /* margin: 10px 15px 10px 0px; */
}
/* #fan2 {
    background-color: @backgroundlight;
    font-size: 16px;
    color: @textcolor3;
    border-radius: 15px;
    border-style: solid;
    border-color: @bordercolor;
    border-width: 3px;
    padding: 2px 15px 0px 10px;
    margin: 10px 15px 10px 0px;
} */

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @textcolor3;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    margin:0px 10px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
#fans {
    background-color: @textcolor2;
    border-radius: 15px;
    border-style: solid;
    border-color: @bordercolor;
    border-width: 3px;
    /* padding: 2px 15px 0px 10px; */
    margin: 10px 15px 10px 0px;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}
